body {
    background-color: #9de0dd;
}

.game-menu-h2{
    color: #ff0000;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("/scr/images/wall.png");
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;
}

.painel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #99e9aa;
}

.enemy {
    background-image: url("/scr/images/ralph.png");
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 10px; /* ou "1rem" pela responsividade */
}